@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --bggreen--: #0e3e29;
  --bgorage--: #ff7e1e;
  --fontspace--: "Space Grotesk", sans-serif;
  --fontInter--: "Inter", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bggreen--);
  position: relative;
}

header .navigation {
  margin-block: 20px;
  width: 50%;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 40px; */
  /* border: solid red; */
}
#btnMobile {
  cursor: pointer;
  display: none;
  background-color: var(--bgorage--);
  color: #052014;
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
.navigation.desktop {
  /* display: none; */
}
.navigation.mobile {
  display: none;
  position: absolute;
  top: 42px;
  width: 100%;
  height: 50vh;
  background-color: var(--bggreen--);
}
.navigation.mobile ul {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
}
.navigation.mobile ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 50%;
  /* border: solid red; */
}
.navigation.mobile a {
  display: block;
  text-decoration: none;
  /* padding: 16px 24px; */
  font-family: var(--fontInter--);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #eaeaea;
}
.navigation.mobile button {
  padding: 10px 20px;
}
.navigation a {
  position: relative;
  text-decoration: none;
  font-family: var(--fontInter--);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.navigation a::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff7e1e;
  transition: 0.3s ease-in-out;
}

.navigation a:hover::after {
  width: 100%;
}

.navigation a:nth-child(1) {
  color: #ff7e1e;
}

.navigation button {
  cursor: pointer;
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--bgorage--);
  color: #052014;

  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s linear;
}

.navigation button:hover {
  opacity: 0.9;
}

/* Primeira section */
.introducao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.introducao .boxInfoIntro {
  width: 30%;
  margin: 0 auto;
}

.boxInfoIntro h1 {
  font-family: var(--fontspace--);
  font-size: clamp(2.4rem, 3vw, 3.5rem);
  text-wrap: wrap;
  width: 100%;
  margin-block: 15px;
}

.boxInfoIntro h1 span {
  color: #ff7e1e;
}

.boxInfoIntro p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--fontInter--);
  padding-right: 20px;
}

.boxInfoIntro button {
  cursor: pointer;
  text-decoration: none;

  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: bold;

  margin-block: 15px;
  padding: 16px 24px;

  background-color: var(--bgorage--);
  border: none;
  border-radius: 4px;

  transition: 0.3s linear;
}

.boxInfoIntro button:hover {
  opacity: 0.9;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
}

.introducao .containerPerson {
  margin-block: 20px;

  width: 50%;
}

.containerPerson img {
  width: 100%;
}

/* Segunda section */
.quemSomos {
  background-color: var(--bggreen--);

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 50px;
}

.quemSomos .sobre {
  width: 29%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 20px;
}

.sobre button {
  background-color: var(--bgorage--);
  cursor: pointer;
  padding: 10px 14px;

  border: none;
  border-radius: 4px;

  font-size: 0.8rem;
  font-family: var(--fontInter--);
  font-weight: 500;
}

.sobre h2 {
  font-family: var(--fontspace--);
  font-size: clamp(2.5rem, 2vw, 3.1rem);
  width: 87%;
  color: #fff;
}

.sobre p {
  font-family: var(--fontInter--);
  font-size: 1.1rem;
  font-weight: 400;
  text-align: unset;
  width: 100%;
  color: #fff;
}

.containerImgSobre {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.containerImgSobre img {
  width: 100%;
  height: 70vh;
  /* object-fit: cover; */
}

/* SLIDES */

.containerSlides {
  margin-top: 120px;

  /* display: flex; */
}
.containerSlides span {
  color: var(--bgorage--);
  font-family: var(--fontInter--);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}

.containerSlides h2 {
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: var(--fontspace--);
  width: 23%;
  text-align: center;
}

.containerSlideInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.containerBoxInfo {
  width: 100%;
  margin-block: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.boxInfo {
  width: 210px;
  height: 190px;
  margin-block: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.boxInfo p {
  color: #052014;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  padding: 10px;

  /* line-height: 120%; */
}

.boxInfo i {
  color: #fff;
  font-size: 1.5rem;
  border: none;
}

.boxInfo img {
  width: 25%;
  min-width: 50px;
  max-height: 50px;
}

.boxInfo .icon {
  background-color: var(--bgorage--);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSlideInfoFinal,
.btnSlideInfoInicio {
  background-color: var(--bgorage--);
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.slideSpoiler {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.slideSpoiler h2 {
  width: 30%;
  margin-block: 30px;
}

.containerSlideSpoiler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boxImgSpoiler {
  padding: 5px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.boxImgSpoiler img {
  width: 100%;
  min-width: 280px;
  height: 280px;
  /* object-fit: cover; */
}

/* Depoimentos */

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 150px;
  background-color: var(--bggreen--);
  color: #fff;
}
.containerDepo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: 40px;
}
.textDepoimentos {
  width: 60%;
  margin-block: 50px;
  /* margin-left: 50px; */
  font-family: var(--fontInter--);
  font-weight: 500;
  /* line-height: 150%; */
}

.depoimentos h2 {
  font-family: var(--fontspace--);
  font-size: clamp(2rem, 2vw, 3rem);
  margin-top: 100px;
}

.depoimentos .textClientes {
  width: 80%;
  margin-top: 20px;
  font-family: var(--fontInter--);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%;
}

.btnDepoimento {
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  color: #ff7e1e;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin-left: 5px;
  background: #f7f7f7;
}

.containerDepoimentos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.depoimentos .function {
  font-style: italic;
}

.boxDepoimentos {
  display: flex;
  width: 100%;
  max-width: 384px;
  height: 30vh;
  min-height: 333px;
  padding: 40px 30px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;
  border: 1px solid #eaeaea;

  background: #f7f7f7;
  color: #000;
}

.boxDepoimentos p {
  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #0e3e29;
  /* margin-block: 40px; */
}
.boxDepoimentos img {
  margin-block: 20px;
}
.boxDepoimentos h3 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-family: var(--fontspace--);
}

/* section do formulario e mapa */
.formAndMap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 150px;
}

.formAndMap h2 {
  color: #000;
  font-family: var(--fontspace--);
  font-size: clamp(2rem, 2vw, 3rem);
}

.formAndMap p {
  font-family: var(--fontInter--);
  font-size: 1;
  margin-top: 15px;
}

.containerForm {
  width: 50%;

  margin-block: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerForm h2 {
  margin-top: 10px;
  font-family: var(--fontspace--);
  font-size: 2.3rem;
}

.containerForm p {
  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: 500;
  width: 50%;
}

.containerForm form {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  position: relative;
}

.input-container label {
  font-family: var(--fontInter--);
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 50%;
  padding-left: 2px;
  cursor: text;
  transition: 0.5s ease-in-out;
}

.obrigatorio {
  color: red;
}

.input-container input {
  margin-bottom: 20px;
  width: 90%;
  height: 30px;
  padding-left: 12px;

  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  outline: none;
}

.input-container input:focus,
.input-container input:valid,
.input-container select:focus {
  border: 1px solid var(--bgorage--);
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  transform: translateY(-25px);
  font-size: 0.8rem;
}

.input-container select {
  width: 90%;
  height: 30px;
  margin-block: 10px;

  border: 1px solid #eaeaea;
  background-color: #f7f7f7;

  font-family: var(--fontInter--);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

#btnEnviar {
  cursor: pointer;
  height: 50px;
  /* width: 30%; */

  margin-block: 10px;
  padding: 12px 24px;

  border: none;
  border-radius: 5px;
  font-size: var(--fontInter--);
  font-size: 1.5rem;

  background-color: #ff7e1e;
  opacity: 1;
  transition: 0.3s;
}
#btnEnviar:hover {
  opacity: 0.8;
}

.contatoFooter {
  /* width: 50%; */

  display: flex;
  /* align-items: center;
  justify-content: start; */
  gap: 50px;
  margin-block: 50px;
}

.contentFooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 30%; */
}

.contentFooter i {
  font-size: 2rem;
  margin-inline: 4px;
}
.fa-whatsapp {
  color: green;
}
.fa-envelope {
  color: rgba(255, 0, 0, 0.716);
  margin-inline: 10px;
}
.controlFooter p {
  font-family: var(--fontInter--);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.controlFooter a {
  text-decoration: none;
  color: #ff7e1e;
  font-size: 0.9rem;
  font-family: var(--fontInter--);
}
.map {
  border: 1px solid #cdcdcd;
  padding: 5px;
  width: 40%;
}
.map h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--fontspace--);
}
.fa-location-dot {
  color: red;
}
.map iframe {
  width: 100%;
  height: 50vh;
  /* object-fit: cover; */
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: var(--bggreen--);
  font-family: var(--fontspace--);
  color: #fff;
}

/* Responsivo */
@media only screen and (max-width: 320px) {
  header img {
    width: 50%;
  }
  .navigation.desktop {
    display: none;
  }
  #btnMobile {
    display: block;
  }
  .navigation.mobile a {
    display: block;
  }
  .introducao {
    margin-inline: 5px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .introducao .boxInfoIntro {
    width: 100%;
    padding: 5px;
  }
  .introducao .containerPerson {
    width: 100%;
  }
  .containerPerson {
    width: 100%;
  }
  .boxInfoIntro p {
    font-size: 1rem;
    text-align: justify;
  }
  .boxInfoIntro button {
    padding: 6px;
    font-size: 0.9rem;
  }
  .quemSomos {
    flex-direction: column;
  }
  .quemSomos .sobre {
    width: 100%;

    padding: 10px;
  }
  .sobre h2 {
    width: 100%;

    font-size: 1.5rem;
  }
  .sobre p {
    width: 100%;
    font-size: 0.9rem;
  }
  .containerImgSobre {
    width: 100%;
    padding: 10px;
  }
  .containerImgSobre img {
    width: 100%;
    height: 50vh;
    /* object-fit: cover; */
  }
  .containerSlides h2 {
    width: 90%;
  }
  .containerBoxInfo {
    flex-direction: column;
  }

  .containerSlideSpoiler {
    width: 100%;

    flex-direction: column;
  }
  .boxImgSpoiler {
    width: 100%;
  }
  .boxImgSpoiler img {
    width: 100%;
    min-width: 215px;
  }

  .textDepoimentos {
    width: 100%;
    margin-left: 0;
  }
  .depoimentos h2 {
    margin-top: 10px;
  }
  .depoimentos .textClientes {
    width: 100%;

    text-align: justify;
    line-height: normal;
  }
  .boxDepoimentos {
    width: 90%;
    padding: 12px 6px;
  }

  .formAndMap {
    flex-direction: column-reverse;
  }

  .containerForm {
    border-top: 2px dashed #cdcdcd;
    width: 100%;
  }

  .containerForm form {
    width: 100%;
  }
  .containerForm h2 {
    font-size: 1.5rem;
  }
  .containerForm p {
    width: 90%;
  }
  .input-container {
    width: 100%;
  }
  .input-container input,
  .input-container select {
    width: 100%;
  }
  .contatoFooter {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contentFooter {
    width: 90%;
    justify-content: center;
    gap: 3px;
  }
  #btnEnviar {
    width: 80%;
  }
  .map {
    width: 90%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  main {
    overflow-x: hidden;
  }
  header {
    justify-content: space-around;
    padding-block: 10px;
  }

  .navigation.desktop {
    display: none;
  }
  #btnMobile {
    display: block;
  }
  .navigation.mobile {
    top: 60px;
  }
  .navigation.mobile a {
    display: block;
  }
  .introducao {
    margin-inline: 5px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .introducao .boxInfoIntro {
    width: 100%;
    padding: 5px;
  }
  .introducao .containerPerson {
    width: 100%;
  }
  .containerPerson {
    width: 100%;
  }
  .boxInfoIntro p {
    font-size: 1rem;
    text-align: justify;
  }
  .boxInfoIntro button {
    padding: 6px;
    font-size: 0.9rem;
  }
  .quemSomos {
    flex-direction: column;
  }
  .quemSomos .sobre {
    width: 100%;

    padding: 10px;
  }
  .sobre h2 {
    width: 100%;

    font-size: 1.5rem;
  }
  .sobre p {
    width: 100%;
    font-size: 0.9rem;
  }
  .containerImgSobre {
    width: 100%;
    padding: 10px;
  }
  .containerImgSobre img {
    width: 100%;
    height: 50vh;
    /* object-fit: cover; */
  }
  .containerSlides h2 {
    width: 90%;
  }
  .containerBoxInfo {
    flex-direction: column;
  }

  .containerSlideSpoiler {
    width: 100%;
    max-width: 500px;
    flex-direction: column;
  }
  .boxImgSpoiler {
    width: 90%;
    min-height: 300px;
  }
  .boxImgSpoiler img {
    width: 100%;
    /* height: auto; */
    /* max-height: 30vh; */
  }

  .textDepoimentos {
    width: 80%;
  }
  .depoimentos h2 {
    margin-top: 10px;
  }
  .containerDepo {
    justify-content: center;
  }
  .inputControlDepoimentos {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .depoimentos .textClientes {
    width: 90%;
    /* text-align: justify; */
    line-height: normal;
  }
  .boxDepoimentos {
    width: 100%;
    max-width: 300px;
    height: 30vh;
    max-height: 383px;
    margin-inline: 10px;
    padding: 12px 6px;
  }

  .formAndMap {
    flex-direction: column-reverse;
  }

  .containerForm {
    border-top: 2px dashed #cdcdcd;
    width: 100%;
  }
  .containerForm p {
    width: 80%;
  }
  .input-container {
    width: 100%;
    border: solid red;
  }
  .input-container input {
    width: 100%;
  }
  .contentFooter {
    width: 80%;
  }
  .contatoFooter {
    flex-direction: column;
    width: 90%;
    align-items: center;
    /* justify-content: space-evenly; */
  }
  .controlFooter {
    width: 100%;
    margin-left: 10px;
  }
  .map {
    width: 90%;
  }
  footer {
    flex-wrap: nowrap;
    justify-content: center;
  }
  footer p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1020px) {
  .navigation.desktop {
    display: none;
  }
  #btnMobile {
    display: block;
    margin-top: 0;
  }
  .navigation.mobile a {
    display: block;
  }
  header {
    justify-content: space-around;
    padding-block: 20px;
  }

  header .navigation {
    width: 75%;
  }

  .introducao {
    flex-wrap: wrap;
    justify-content: end;
  }
  .introducao .boxInfoIntro {
    margin-left: 30px;
    width: 100%;
  }
  .introducao .containerPerson {
    margin-left: 30px;
    width: 80%;
  }
  .quemSomos .sobre {
    width: 50%;
    margin-inline: 20px;
  }

  .sobre h2 {
    width: 100%;
  }
  .sobre p {
    font-size: 1rem;
    text-align: left;
  }

  .containerImgSobre img {
    height: 50vh;
  }
  .contentSlideInfo {
    width: 100%;
    margin-top: 10px;
  }
  .containerSlides h2 {
    width: 100%;
  }
  .btnSlideInfoFinal,
  .btnSlideInfoInicio {
  }
  .containerBoxInfo {
    /* width: 100%; */
    margin: 20px auto;
    /* gap: 10px; */
    /* flex-direction: column; */
  }
  .containerSlideSpoiler {
    width: 70%;
    flex-direction: column;
  }
  .boxImgSpoiler {
    width: 65%;
  }
  .containerDepo {
    justify-content: space-evenly;
  }
  .boxDepoimentos {
    justify-content: space-evenly;
    height: auto;
    max-height: 200px;
    max-width: 250px;
    padding: 15px;
    border-radius: 10px;
  }
  .boxDepoimentos img {
    margin: 0;
  }
  .containerForm p {
    width: 90%;
  }

  .input-container {
    width: 100%;
  }

  .contatoFooter {
    width: 100%;
    justify-content: space-around;
  }
  .map {
    width: 45%;
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1380px) {
  .navigation.desktop {
    width: 70%;
    justify-content: space-evenly;
  }
  .introducao .boxInfoIntro {
    width: 40%;
  }

  .quemSomos .sobre {
    width: 45%;
  }
  .sobre p {
    font-size: 1rem;
    text-align: unset;
  }
  .containerSlideSpoiler {
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 20px;
  }

  .containerDepo {
    justify-content: space-evenly;
  }
  .depoimentos .textClientes {
    line-height: normal;
  }
  .inputControlDepoimentos {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
  }
  .containerForm p {
    width: 100%;
    padding-inline: 20px;
  }
  .input-container {
    width: 100%;
  }
  .contentFooter {
    width: 50%;
    justify-content: center;
    gap: 5px;
  }
  .contatoFooter {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1381px) and (max-width: 1420px) {
  header {
    justify-content: space-between;
    padding-inline: 10px;
  }
  .navigation.desktop {
    width: 70%;
  }
  .introducao .boxInfoIntro {
    width: 40%;
  }
  .quemSomos .sobre {
    width: 40%;
  }
  .containerSlides h2 {
    width: 100%;
  }
  .containerForm p {
    width: 80%;
  }
  .input-container {
    width: 80%;
  }
  .contatoFooter {
    width: 80%;
  }
  .contentFooter {
    width: 100%;
  }
  .controlFooter {
    margin-left: 10px;
    width: 100%;
    border: slid yellow;
  }
}
